/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/* VARIABLES */
:root {

    /* Colors */
    --primary-color: rgb(61, 61, 61);
    --secondary-color: whitesmoke;

    /* Borders */
    --basic-radius: 10px;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    padding: 20px 0;
}

main {
    padding: 20px 0;
}



/* UTILITY */
.container-70 {
    width: 70%;
    margin: 0 auto;
}



/* COMMON */
main > .container-70 {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

main .column {
    /* flex-grow: 1; */
    width: calc(100% / 4);
}

.column {
    /* border: 2px solid white; */  /* TODO:  Cambia il colore del bordo quando puoi droppare */
    min-height: 70vh;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: var(--basic-radius);
    color: black;
}

.column-title {
    font-size: 18px;
}

.column-title::after {
    content: "";
    height: 5px;
    width: calc(100% / 3);
    display: block;
    margin: 10px 0;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.task {

    /* test */
    /* border: 2px solid red; */

    margin-bottom: 15px;
    padding: 10px;
    border-radius: var(--basic-radius);
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(233, 233, 233);
    overflow: hidden;
    font-size: 14px;
}

.task:last-child {
    margin: 0;
}

/* .task::after {
    content: "";
    height: 2px;
    width: 50%;
    display: block;
    margin: 20px auto 0;
    background-color: var(--primary-color);
    border-radius: 4px;
} */

.task:hover {
    cursor: grab;
    background-color: rgb(238, 238, 238);
    border-color: gray;
}